#maincontainer {
    margin-left: 0px;
}

body {
    background-color: lightgray;
}
.jumbotron {
    text-align: center;
    color: darkslategray;
    background-color: bisque;
    padding: 20px;
    border: black solid;
}

#searchBlock {
    margin-left: 0px;
    margin-right: 0px;
}
.form-control {
    display: inline-block;
    width: 74%;
    margin-right: -50%;
}
#search {
    float: right;
}
#search-results {
    border: black solid;
    padding: 20px;
}

#forecast{
    border: black solid;
    padding: 15px;
    margin: auto;

}
.daily {
    background-color: gray;
    color:whitesmoke;
    margin: 5px; 
    box-sizing: border-box;   
}
.city-list {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: solid lightgray; 
    padding: 10px;
}
.card {
margin: 10px;
margin-left: 1px;
padding: 8px;
border: solid 2px lightgray;
}

#city-name {
    float: left;  
}
#icon {
    margin-top: -12px;
}